a               {font-family:Verdana;  font-size:12px; line-height:180%; color:#994f00;}
a:hover         {font-family:Verdana;  font-size:12px; line-height:180%; color:#aaaa00;}

input           {font-family:Verdana;  font-size:12px;}

p               {font-family:Verdana; font-size:12px; line-height:180%; }
p.titol1        {font-family:Verdana; font-size:16px; line-height:180%;}

textarea        {font-family:Verdana;  font-size:12px;}

select          {font-family:Verdana;  font-size:12px;}



