a               		{font-family:Verdana;  font-size:12px; line-height:180%; color:#994f00;}
a:hover         		{font-family:Verdana;  font-size:12px; line-height:180%; color:#aaaa00;}

a.titol1               	{font-family:Verdana;  font-size:12px; line-height:180%; color:#483E7C;}
a.titol1:hover         	{font-family:Verdana;  font-size:12px; line-height:180%; color:#aaaa00;}
a.a_micro               {font-family:Verdana;  font-size:10px; line-height:180%; color:#994f00;}
a.a_micro:hover         {font-family:Verdana;  font-size:10px; line-height:180%; color:#aaaa00;}

a.a_ajuda1				{ color:blue; cursor:pointer; font-size:12px;}
a.a_ajuda1:hover		{ color:LightBlue; cursor:pointer; font-size:12px;}
a.a_important			{ color:red; cursor:pointer; font-size:12px;}
a.a_important:hover		{ color:orange; cursor:pointer; font-size:12px;}

input           		{font-family:Verdana;  font-size:12px;}
input.valorEnEdicio   	{font-family:Verdana;  font-size:12px; color:#FC7202;}

input.i_botoEditarOk   	{visibility:inherit;}
input.i_botoEditarNo   	{visibility:hidden;}
input.i_readonly   	   	{font-family:Verdana;  font-size:12px; background-color:#C6EDAB;}
input.i_readonly2   	{font-family:Verdana;  font-size:12px; background-color:#C0FAF8;}
input.i_readonly3   	{font-family:Verdana;  font-size:12px; background-color:#F9E39F;}
input.i_micro           {font-family:Verdana; font-size:9px;}



p		            	{font-family:Verdana; font-size:12px; line-height:180%; }		
p.ajuda1            	{font-family:Verdana; font-size:10px; color:DarkBlue; }		
p.titol1               	{font-family:Verdana; font-size:14px; line-height:180%;}
p.nota  		       	{font-family:Verdana; font-size:11px; line-height:180%;}
p.nota2         	   	{font-family:Verdana; font-size:11px; line-height:180%;  text-align:justify;}
p.nota3 			   	{font-family:Verdana; font-size:10px; line-height:180%;  text-align:justify;}
p.nota4           	   	{font-family:Verdana; font-size:11px; line-height:180%;  text-align:justify; color:#386917;}
p.p_micro           	{font-family:Verdana; font-size:9px; text-align:justify;}
p.p_micro2           	{font-family:Verdana; font-size:9px; text-align:left;}
p.p_micro3           	{font-family:Verdana; font-size:9px; text-align:center;}
p.p_micro4           	{font-family:Verdana; font-size:10px; text-align:left;}
p.p_micro5           	{font-family:Verdana; font-size:9px;}
p.peuIndex        		{font-family:Verdana; font-size:11px; line-height:180%;  text-align:center; color:#aaaaaa;}
p.pAlerta	     		{font-family:Verdana; color:#0000ff; font-size:17px; line-height:180%;}
p.pAlerta2     			{font-family:Verdana; color:#0000ff; font-size:14px; line-height:180%; text-align:justify;}
p.pAlerta4     			{font-family:Verdana; color:#0000ff; font-size:11px; }
p.pAlertaOk	     		{font-family:Verdana; color:#00aa00; font-size:17px; line-height:180%;}
p.pAlertaOk2     		{font-family:Verdana; color:#00aa00; font-size:14px; line-height:180%; text-align:justify;}
p.pAlertaOk3     		{font-family:Verdana; color:#00aa00; font-size:12px; line-height:150%; text-align:justify;}
p.pAlertaOk4     		{font-family:Verdana; color:#00aa00; font-size:11px; }
p.pAlertaOk5     		{font-family:Verdana; color:#00aa00; font-size:10px; }
p.pAlertaNo	     		{font-family:Verdana; color:#ff0000; font-size:17px; line-height:180%;}
p.pAlertaNo2	     	{font-family:Verdana; color:#ff0000; font-size:14px; line-height:180%; text-align:justify;}
p.pAlertaNo3	     	{font-family:Verdana; color:#ff0000; font-size:12px; line-height:150%;}
p.pAlertaNo4	     	{font-family:Verdana; color:#ff0000; font-size:11px;}
p.pAlertaNo5	     	{font-family:Verdana; color:#ff0000; font-size:10px;}
p.pAlerta4	     		{font-family:Verdana; color:#000000; font-size:11px;}
p.pIncidenciaEliminada 	{font-family:Verdana; color:#777777; }
p.compacte           	{font-family:Verdana; font-size:11px; line-height:110%;}
p.compacteAdm           {font-family:Verdana; color:#aa7700; font-size:11px; line-height:110%;}
p.titolColumnesCAC     	{font-family:Verdana; font-size:11px; line-height:110%;}
p.titolColumnesNoCAC   	{font-family:Verdana; font-size:12px; line-height:110%;}
p.tramDisponible     	{font-family:Verdana; font-size:11px;  color:#008800;}
p.tramNoDisponible     	{font-family:Verdana; font-size:11px;  color:#000000;}
p.demandes    			{font-family:Verdana; font-size:12px;  color:#2B6563;}
p.ofertes     			{font-family:Verdana; font-size:12px;  color:#8B2F86;}
p.microDemandes    		{font-family:Verdana; font-size:10px;  color:#2B6563; line-height:110%;}
p.microOfertes     		{font-family:Verdana; font-size:10px;  color:#8B2F86; line-height:110%;}
p.pPeticioPendentGST	{font-family:Verdana; font-size:10px;  color:white; background-color:orange; text-align:center;}
p.pPeticioConfirmatGST	{font-family:Verdana; font-size:10px;  color:white; background-color:green; text-align:center;}
p.p_transp_titol	    {font-family:Verdana; font-size:11px;  color:#027C77;  text-align:left;}
p.pVactiu	     		{font-family:Verdana; color:#00aa00; font-size:12px; background-color:#eeeeee;}
p.pVinactiu	     		{font-family:Verdana; color:#ff0000; font-size:12px; background-color:#eeeeee;}
p.p_microPositiu	    {font-family:Verdana; color:#00aa00; font-size:9px; }
p.p_microNegatiu     	{font-family:Verdana; color:#ff0000; font-size:9px; }
p.pGrupActiu 			{font-family:Verdana; color:#008800; font-size:12px; }
p.pGrupInactiu 			{font-family:Verdana; color:red; font-size:12px; }
p.titolNota   			{font-family:Verdana;  font-size:12px; color:#aaaaaa;}
p.albara        		{font-family:Verdana;  font-size:12px; text-align:left; line-height:120%;}
p.albara2        		{font-family:Verdana;  font-size:12px; text-align:center; line-height:120%;}

textarea        		{font-family:Verdana;  font-size:12px;}
textarea.ta10        	{font-family:Verdana;  font-size:10px;}

select          		{font-family:Verdana;  font-size:12px;}
select.sel_micro        {font-family:Verdana; font-size:9px;}
select.valorEnEdicio   	{font-family:Verdana;  font-size:12px; color:#FC7202;}
select.seleccionada 	{font-family:Verdana;  font-size:12px; background-color:orange;}
select.seleccionada2 	{font-family:Verdana;  font-size:12px; background-color:#F9E39F;}
select.selAvisComandesCACno  {font-family:Verdana;  font-size:12px; background-color:#FABC4F;}
select.selAvisComandesCACok  {font-family:Verdana;  font-size:12px; background-color:#ffffff;}

option.oGrupActiu 		{font-family:Verdana; color:#008800; font-size:11px; }
option.oGrupInactiu 	{font-family:Verdana; color:#000000; font-size:11px; }
option.o_selected {font-family:Verdana; background-color:#FC7202; font-size:11px; }

td.albara2       		{color:white; background-color:orange; text-align:center;}

th.albara       		{background-color:#ffffff;}


